.react-chatbot-kit-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
  
}

.react-chatbot-kit-user-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12.5px;
  background-color: #3d4e8d;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1.5px 1.5px 2px rgba(30,30,30,0.5);
}

.react-chatbot-kit-user-avatar-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}

.react-chatbot-kit-user-chat-message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #585858;
  font-weight: medium;
  position: relative;
  text-align: left;
  box-shadow: 1px 1px 1px rgba(64, 66, 66, 0.5);
}

.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #f1f1f1;
  position: absolute;
  right: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-start;
}

.react-chatbot-kit-chat-bot-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 12.5px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1.5px 1.5px 2px rgba(30,30,30,0.5);
}

.react-chatbot-kit-chat-bot-message:hover {
  scale: 100.2%;
  
  }

.react-chatbot-kit-chat-bot-avatar-icon {
  fill: #494646;
  width: 22.5px;
  height: 22.5px;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  color: #1d1d1d;
  margin: 0;
  padding: 0;
}

.react-chatbot-kit-chat-bot-message {
  
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
                   
  
  font-weight: medium;
  position: relative;
  /* width: 184.5px; */
  margin-left: auto;
  text-align: left;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(30,30,30,0.5);

}



.react-chatbot-kit-chat-bot-loading-icon-container {
  height: 17px;
  width: 25px;
  box-shadow: 1px 1px 1px rgba(30,30,30,0.5);
}

.chatbot-loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 0.2s infinite;
  color: orange;
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 0.2s infinite;
  animation-delay: 0.1s;
  color: white;
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 0.2s infinite;
  animation-delay: 0.1s;
  color: green;
}

@keyframes load {
  0% {
    opacity: 0;
    
  }
  50% {
    opacity: 1;
    
  }
  100% {
    opacity: 0;
    
  }
}

.swal2-popup {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.react-chatbot-kit-chat-container {
  position: relative;
  width: 355px;
}

.react-chatbot-kit-chat-inner-container {
  height: 375px;
  /* min-height: 800px; */
  background-color: #fff;
  /* padding: 20px 0; */
  /* border-radius: 3px;
  border-radius: 5px; */
  /* overflow-y: hidden; */
}

.react-chatbot-kit-chat-header {
  /* border-top-right-radius: 5px;
  border-top-left-radius: 5px; */
  box-shadow: 2px 2px 2px rgba(30,30,30,0.5);
  background-color: #4361ee;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #ffffff;
  padding: 12.5px;
  font-weight: bold;
  display: none;

}

.react-chatbot-kit-chat-input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 40px;

}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 330px; 
  border-left: 0;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  margin-top: 3px;
  font-size: 0.85rem;
  border: 1.5px solid #eaeaea;
  box-shadow: 1px 1px 1px rgba(30,30,30,0.5);
}

.react-chatbot-kit-chat-input-form {
  width: 355px;
  display: flex;
  
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #2898ec;
  width: 100px;
  border: none;
  color: #fff;
  box-shadow: 1px 1px 1px rgba(30,30,30,0.5);
  
  /* border-bottom-right-radius: 5px; */
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
  
}

.react-chatbot-kit-error {
  background-color: #fff;
  border-radius: 3px;
  padding: 15px;
}

.react-chatbot-kit-error-container {
  width: 260px;
}

.react-chatbot-kit-error-header {
  font-size: 1.3rem;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.react-chatbot-kit-error-docs {
  display: block;
  margin: 25px auto;
  color: rgb(56, 104, 139);
  padding: 8px;
  border: 1px solid rgb(40, 152, 236);
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}